.idea/
build/node_modules
build/$weak$.js
build/sdk-min-tmp.js
build/sdk-cell-tmp.js
build/sdk-slide-tmp.js
build/sdk-word-tmp.js
common/libfont/wasm/build/emsdk
common/libfont/wasm/build/freetype*
common/libfont/wasm/build/fonts.*
common/AllFonts.js
common/libfont/js/fonts.js
common/libfont/wasm/fonts.js
common/Images/fonts_thumbnail*
common/Images/themes_thumbnail*
slide/themes/theme*
slide/themes/themes.js
*~
.*.swp
.DS_Store
/deploy
/develop
build/sdk-*-tmp.js
cell/sdk-all.props.js.map
cell/sdk-all.vars.js.map
slide/sdk-all.props.js.map
slide/sdk-all.vars.js.map
word/sdk-all.props.js.map
word/sdk-all.vars.js.map
