.idea/
cell/sdk-all-min.js
cell/sdk-all.js
cell/sdk-all.cache
slide/sdk-all-min.js
slide/sdk-all.js
slide/sdk-all.cache
word/sdk-all-min.js
word/sdk-all.js
word/sdk-all.cache
build/node_modules
build/$weak$.js
common/libfont/wasm/build/emsdk
common/libfont/wasm/build/freetype-2.9.1
common/AllFonts.js
common/libfont/js/fonts.js
common/libfont/wasm/fonts.js
common/Images/fonts_thumbnail.png
common/Images/fonts_thumbnail@2x.png
*~
.DS_Store
/deploy
cell/sdk-all.props.js.map
cell/sdk-all.vars.js.map
slide/sdk-all.props.js.map
slide/sdk-all.vars.js.map
word/sdk-all.props.js.map
word/sdk-all.vars.js.map
